body {
  font-family: "Lucida Grande", sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 64px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-shadow: 4px 4px 2px black;
}

p {
  font-size: 16px;
  padding-top: 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: auto;
}

div {
  min-height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#red {
  background-color: red;
  text-align: right;
}

#blue {
  background-color: blue;
  text-align: left;
}

#yellow {
  background-color: yellow;
}

#yellow h2 {
  color: black;
  text-shadow: 4px 4px 2px grey;
  text-align: right;
}

#yellow p {
  color: black;
  text-align: right;
}

#green{
  background-color: green;
  text-align: left;
}

footer{
  text-align: center;
  padding-bottom: 15px;
}